/**
* U-M Library Design System - Base
*
* Table of Contents:
* 1. Resets
* 2. HMTL and Body
* 3. Typography
*
*/

/* Font import */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

/* 1. Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* 2. HTML and Body */

html,
body {
  padding: 0;
  height: 100%;
  color: var(--color-neutral-400);
  font-family: var(--font-base-family);
  line-height: var(--line-height-default);
  font-size: var(--text-base-size);
}

*:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 2px var(--color-maize-400),
    0 0 0 3px var(--color-neutral-400) !important;
  border-radius: 2px !important;
}

/* Links */
a {
  color: var(--color-teal-400);
  text-decoration: underline;
}

a:hover {
  color: var(--color-teal-500);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* Alternative link style (for lists, navigation) */
a.link-undecorated {
  color: var(--color-neutral-400);
  text-decoration: none;
}

a.link-undecorated:hover {
  text-decoration: underline;
}

.action-link--danger {
  color: var(--color-pink-400);
  border: solid 2px transparent;
  border-radius: 4px;
}

.action-link--danger:hover {
  border: solid 2px var(--color-pink-400);
}

.action-link--small:hover {
  text-decoration: none;
  color: var(--color-teal-400);
  background-color: var(--color-teal-100);
}

.views-tabs .add a:hover {
  color: var(--color-teal-400);
  background-color: var(--color-teal-100);
}

/* 3. Typography and text  */

h1 {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 1.75rem;
  padding-bottom: 1.125rem;
}

.heading-serif {
  font-size: 2.5rem;
  font-family: var(--font-second-family);
  font-weight: 400;
  padding-top: 1.75rem;
  padding-bottom: 1.125rem;
}

.page-title {
  padding-top: 1.75rem;
  padding-bottom: 0.125rem;
  font-size: 1.95rem;
}

.block-page-title-block:last-child {
  margin-bottom: var(--space-sm);
}

h2 {
  font-size: 1.5rem;
  font-weight: var(--bold);
  line-height: var(--line-height-heading);
  padding-top: 1.5rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.35rem;
  font-weight: normal;
  line-height: var(--line-height-heading);
  margin-bottom: .75rem;
  padding-top: .5rem;
}

h4 {
  font-size: 1.25rem;
  line-height: var(--line-height-heading);
  padding-top: .5rem;
}

h5,
h6 {
  font-size: 1rem;
  line-height: var(--line-height-heading);
  padding-top: .5rem;
}

p {
  padding: 0.5rem 0;
  font-size: 1rem;
}

.prose > p {
  max-width: 68ch;
}

.panel__title {
  background-color: var(--color-teal-100);
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: .95rem;
}

pre {
  overflow-x: auto;
}

mark {
  background-color: var(--color-maize-200);
}

kbd {
  border: 1px solid var(--color-neutral-300);
  box-shadow: 1px 0 1px 0 var(--color-neutral-200),
    0 2px 0 2px var(--color-neutral-100), 0 2px 0 3px var(--color-neutral-300);
  border-radius: 3px;
  margin: 2px 3px;
  padding: 1px 5px;
  white-space: nowrap;
}

ul.list-style-none {
  padding: 0;
  list-style: none;
}

blockquote {
  margin: .5rem;
  padding: .25rem 1rem;
  color: var(--color-neutral-300);
  font-weight: var(--semibold);
  font-size: 1rem;
}

blockquote::before {
    position: absolute;
    inset-inline-start: -1rem;
    content: open-quote;
    color: var(--color-neutral-300);
    font-family: var(--font-family-serif);
    font-size: var(--space-xl);
    line-height: 1em;
}