/**
* U-M Library Design System - Field
*
* Table of Contents:
* 1. Field
**/

/* 1. Field Styling */

/* Field Spacing */

.field--label-above {
  padding: 0.5rem 0;
}

.field__item > p {
  padding-top: 0;
}

/* Field UI admin */

/* Display cog icon for edit widget  */

.field-plugin-settings-edit {
  width: 1rem;
  margin: 0;
  padding: 0;
}

