/**
* U-M Library Design System - Status Messages/ Callouts
*
* Table of Contents:
* 1. Status Messages/ Callouts
**/

/* 1. Status Messages -  Callout Messages */

.messages-list {
  margin-top: calc(var(--space-sm) + var(--space-m));
  margin-bottom: calc(var(--space-sm) + var(--space-m));
}

.messages {
  background-color: #fff;
  border-top: solid 1px var(--color-neutral-100);
  border-right: solid 1px var(--color-neutral-100);
  border-bottom: solid 1px var(--color-neutral-100);
  border-radius: var(--radius-default);
}

.messages__title {
  padding-top: 0;
}

.messages__header, .messages__content {
  color: var(--color-neutral-400);
}

.messages a, .messages a:hover {
  color: var(--color-teal-400);
}

.messages--success {
  color: var(--color-green-500);
}

.messages--status {
  color: var(--color-green-500);
}

.messages--error {
  color: var(--color-pink-400);
}

.messages-warning {
  color: var(--color-pink-500);
}
