/**
* U-M Library Design System - Utilities
*
* Table of Contents:
* 1. Spacing utilities
* 2. Display utilities
* 3. Responsive layout
* 4. Scroll shadows
* 5. Text decoration 
**/

/* 1. Spacing utilities */

/* Margin */
.m-0 { margin: 0; }
.mt-0 { margin-top: 0}
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-4 { margin-bottom: 4rem; }
.ml-0_5 { margin-left: .5rem }
.ml-1 { margin-left: 1rem; }
.ml-2 { margin-left: 2rem; }
.mr-0_5 { margin-right: .5rem }
.mr-1 { margin-right: 1rem; }
.mr-2 { margin-right: 2rem; }
.mx-0_5 { 
  margin-left: 0.5rem;
  margin-right: 0.5rem; 
}

/* Padding */
.p-0 { padding: 0; }
.p-1 { padding: 1rem; }
.pt-1 { padding-top: 1rem; }
.pt-1_5 { padding-top: 1.5rem}
.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }

/* 2. Display */

.block { display: block; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.hidden { display: none; }

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.no-border {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

/* 3. Responsive layout */

:root {
  --viewport-margin: 16px;
}

@media (min-width: 720px) {
  :root {
    --viewport-margin: 40px;
  }
}

.viewport-container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--viewport-margin);
  padding-right: var(--viewport-margin);
}

/* 4. Scroll Shadows */

/* Scroll Shadow - Horizontal */

.scroll-shadows--horizontal {
  --background-color: rgba(255, 255, 255, 1);
  --shadow-color: rgba(16, 102, 132, 0.55);
  --shadow-size: 0.65em;
  --transparent: rgba(255, 255, 255, 0);
  overflow-x: scroll;
  background: linear-gradient(
      to right,
      var(--background-color),
      var(--background-color),
      var(--transparent) calc(var(--shadow-size) * 3)
    ),
    radial-gradient(
      farthest-side at 0 50%,
      var(--shadow-color),
      var(--transparent)
    ),
    linear-gradient(
      to left,
      var(--background-color),
      var(--background-color),
      var(--transparent) calc(var(--shadow-size) * 2)
    ),
    radial-gradient(
        farthest-side at 100% 50%,
        var(--shadow-color),
        var(--transparent)
      )
      100%;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-attachment: local, scroll, local, scroll;
  background-size: 100% 100%, var(--shadow-size) 100%, 100% 100%,
    var(--shadow-size) 100%;
}

/* Scroll Shadow - Vertical */

.scroll-shadows--vertical {
  --background-color: rgba(255, 255, 255, 1);
  --shadow-color: rgba(16, 102, 132, 0.55);
  --shadow-size: 0.75em;
  --transparent: rgba(255, 255, 255, 0);

  overflow-y: scroll;
  background: linear-gradient(
      var(--background-color),
      var(--background-color),
      var(--transparent) calc(var(--shadow-size) * 2)
    ),
    radial-gradient(
      farthest-side at 50% 0,
      var(--shadow-color),
      var(--transparent)
    ),
    linear-gradient(
      to top,
      var(--background-color),
      var(--background-color),
      var(--transparent) calc(var(--shadow-size) * 2)
    ),
    radial-gradient(
        farthest-side at 50% 100%,
        var(--shadow-color),
        var(--transparent)
      )
      0 100%;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-attachment: local, scroll, local, scroll;
  background-size: 100% 100%, 100% var(--shadow-size), 100% 100%,
    100% var(--shadow-size);
}

/* 5. Text decoration */

.underline {
  text-decoration: underline !important;
}