/**
* U-M Library Design System - Views
*
* Table of Contents:
* 1. Views
**/

/* Views Dashboard UI Styling */

.views-ui-display-tab-bucket.footer {
  background-color: #fff;
}

.views-live-preview .section-title {
  font-size: 1rem;
}

.views-admin .unit-title, h1.section-title {
  font-family: var(--font-base-family);
  font-size: 1.5rem;
}

.views-ui-display-tab-bucket__title {
  padding-top: 0;
}

/* Views bulk action bar */

.views-bulk-actions__item .button--primary:not(:disabled,.is-disabled) {
  background: #fff;
  color: var(--color-neutral-400);
}

.views-bulk-actions__item .button--primary:not(:disabled,.is-disabled):hover {
  box-shadow: 0 0 0 2px #fff,0 0 0 3px var(--color-neutral-400);
  background: #fff;
}

/* Views Forms for alignment of form elements */

.views-exposed-form.views-exposed-form {
  align-items: flex-end;
}

.views-exposed-form.views-exposed-form input.button {
  margin-bottom: .15rem;
}