{#
/**
 * @file
 * Banner component template.
 *
 * Available variables:
 * - type: Banner type (info or warning)
 * - message: Banner message content
 */
#}
{% set banner_classes = [
  'banner',
  'banner--' ~ type|default('info')
] %}

<section class="{{ banner_classes|join(' ') }}">
  <div class="banner__inner-container viewport-container">
    {% if type == 'warning' %}
      <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 0 24 24" width="1rem" fill="currentColor" focusable="false" aria-hidden="true">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/>
      </svg>
      <span class="visually-hidden sr-only">Warning alert</span>
    {% else %}
      <svg xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 0 24 24" width="1rem" fill="currentColor" focusable="false" aria-hidden="true">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
      </svg>
      <span class="visually-hidden sr-only">Informational alert</span>
    {% endif %}
       <p>{{ message|render|default('Add your message here.') }}</p>
  </div>
</section>